*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #2CB3F3;
}
.inicio{
    position: sticky;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    height: 20vh;
}
.cabeca{
    position: absolute;
    top: 20vh;
    left: 22vw;
    background-color: white;
    border-radius: 80px 80px 0 0;
    width: 55vw;
    height: 90vh;
    display: flex;
    align-items: center;
}
.pele{
    position: relative;
    left: 4vw;
    width: 640px;
    height: 490px;
    border-radius: 100%;
    background-color: #FFE1C9;
}
.olho-esquerdo{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    left: 17vw;
    top: 30vh;
}
.olho-direito{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    left: 35vw;
    top: 30vh;
}
.email{
    position:absolute;
    left: 37vw;
    top: 68vh;
}
.email input{
    font-size: 30px;
    border-radius: 3px;
    border: solid 2px;
}
.password{
    position: absolute;
    left: 37vw;
    top: 73vh;
}
.password input{
    font-size: 30px;
    border: solid 2px;
    border-radius: 3px;
}
.botao{
    position: absolute;
    right: 43vw;
    bottom: -30vh;
    display: flex;
    justify-content: center;
    
}
button{
    position: absolute;
    bottom: 6vh;
    left: -11vw;
    background-color: #55A603;
    width: 150px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    color: #B2F272;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1.25px 0px 0.5px black;
}